In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import pandas as pd
import math
from sklearn.model_selection import train_test_split,KFold
from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin
import numpy as n
from mypipes import *

In [5]:
datafile_train=r'/Users/nikita/Downloads/RealEstate/Data/Property_train.csv'
datafile_test=r'/Users/nikita/Downloads/RealEstate/Data/Property_test_share.csv'
cd_train=pd.read_csv(datafile_train)
cd_test=pd.read_csv(datafile_test)

In [6]:
cd_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62035 entries, 0 to 62034
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Junk                   62035 non-null  int64
 1   InteriorsStyle         62035 non-null  object
 2   PriceIndex8            62035 non-null  object
 3   ListDate               62035 non-null  object
 4   Material               62035 non-null  object
 5   PriceIndex9            62035 non-null  int64
 6   Agency                 62035 non-null  object
 7   AreaIncomeType         62035 non-null  object
 8   EnvRating              62035 non-null  object
 9   PriceIndex7            62035 non-null  object
 10  ExpeditedListing       62035 non-null  int64
 11  PriceIndex4            62035 non-null  object
 12  PriceIndex1            62035 non-null  object
 13  PriceIndex6            62035 non-null  object
 14  PRIMEUNIT              62035 non-null  object
 15  Channel                62035 non-null  object
 16  Zip                    62035 non-null  int64
 17  InsurancePremiumIndex  62035 non-null  int64
 18  PlotType               62035 non-null  object
 19  Architecture           62035 non-null  object
 20  PriceIndex3            62035 non-null  object
 21  Region                 62035 non-null  object
 22  PriceIndex5            62035 non-null  object
 23  SubModel               62035 non-null  object
 24  Facade                 62035 non-null  object
 25  State                  62035 non-null  object
 26  NormalisedPopulation   62035 non-null  int64
 27  BuildYear              62035 non-null  int64
 28  RegionType             62035 non-null  object
 29  PropertyAge            62035 non-null  int64
 30  PriceIndex2            62035 non-null  object
dtypes: int64(8), object(23)
memory usage: 14.7+ MB

In [7]:
cd_train.sample()

,Junk,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,...,Region,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2
3043,0,7R8J,8244.0,8/20/2010,C8A4,4825,CAT1,A,missing,7265.0,...,A,4309.0,FIVQ,BLUE,FL,82402,2005,A,5,4848.0